

@font-face{
  font-family: Robot-children;
  src: url(Robot Children.ttf) format('truetype');

}

html{
  background-color:white;
  font-family:'Robot Children'
}
.flowerBG{
  background: url(../images/TRIPPYFLOWER.JPG) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  font-family:'Robot Children'
}

.rainBG{
  background: url(../images/Rain_acid.JPG) repeat;
}

.torsoBG{
  background: url(../images/Torso_colors.PNG) repeat;
}

body{
padding: 20px;
margin: 20px;
}
h1{
  Color: white;
  margin-top: 0px;
  padding-top: 20px;

}
h2{
  font-size: 250%;
  Color: rgb(250, 100, 100);
  margin-top:0px;
  padding-top:20px;
}
p{
  color:rgb(222,287,252);
  font-size:40px;
}
.red_text{
  color:rgb(250, 100, 100);
  font-size:50px;

}
.oceanblue{
  color:rgb(19, 64, 133);
  font size:50px;
}

a:hover{
  color:black;
  text-decoration: none;
}
.imageRedDropShadow{


filter: drop-shadow(20px 12px 6px orange);
}
.COTOVOID{
  font-size:180%;
  color:orange;
  display: inline-block;
}

.HYPERSPEKTIV33{
  position: absolute;
  left: 100px;
  top:40%;
  display: inline-block;
}

.titleText{
  position: absolute;
  font-size: 20px;
  color: white;
}

#mainContainer{
  width: 100%;
  height: auto;
  position: relative;
}

#contentContainer{
  position: relative;
width: 1200px;
height: 2000px;
background-color: grey;
margin-left: initial;
margin-right: initial;
padding: 80px;
}

.centeredText{
  text-align: center;
}

.SELFPORTRAIT .jpg{
  position: absolute;
  width: 100px;
  height:100px;
}


#pg2Link{
  position: absolute;
  color: yellow;
  text-decoration:none;
  top:40px;
  font-size:18px;
}


.menu > li{
  list-style-type: none;
  display: inline;
  padding: 10px;
  background-color: lightblue ;
  border: 5px white solid;
  }
.portal{
  width:400px;
  height:800px;
}

.rainboweye{
  position: absolute;
  right:650px;
  display: inline-block;
  scale: 125%;
  top:540px;
}

.Cloning_p{
  width:400px;
  height:600px;
  position: absolute;
}

.chains{
width:550px;
height:800px;

}

.vid2{
width:600px;
height:600px;
scale:180%;
position: absolute;
top:59%;
right:1.5%;
}

.acid_tree{
  position: absolute;
  scale: 90%;
  top: 52%;
  right: -1%;
}

.lain{
  width:600px;
  height:600px;
}
.sharingan{
  position:absolute;
  top:68%;
  width:600px;
  height:600px;
  scale:114%;
}
.staticdrain{
  top: 81%;
  position: absolute;
  scale: 125%;
  right: 48%;

}
.Planet_mad{
  position:relative;
  top:27.5%;
  scale:110%;
}
.void{
  position: absolute;
  right: 15%;
  scale: 130%;
  top:25%;
}
.shinchan{
  width:700px;
  height:700px;
  position: absolute;
  right:-7%;

}


}
